.food-item {
    border-radius: 1.6rem;
    display: flex;
    min-width: 300px;
    margin-inline: 1rem;
    background: var(--color-white);
    height: 21vh;
    align-items: center;
    box-shadow: 0 10px 10px #1D201F0E;
    transition: all 0.2s ease-in;
}

.food-item:hover {
    .food-item-img > img {
	transform: scale(1.2);
    }
    transform: scale(1.05);
}

.food-item-img {
    border-radius: 1.6rem 0 0 1.6rem;
    margin-right: 1.5rem;
    width: 36%;
    height: 100%;
    overflow: hidden;
}

.food-item-img > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in;
}

div.food-item-info {
    flex:1;
}

div.food-item-info > h3 {
    line-height: 2.3rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 1.2rem;
}

.food-item:nth-child(even) {
    .food-item-img {
	border-radius: 0 1.6rem 1.6rem 0;
	margin-left: 1.5rem;
	margin-right: 0px;
	order:2;
    }
    div.food-item-info {
	order: 1;
	padding-left: 2rem;
    }
}

.food-item:nth-child(odd) {
    div.food-item-info {
	padding-right: 2rem;
    }
}

.item-btn {
    background: linear-gradient(45deg,
				var(--color-secondary), 40%,
				var(--color-primary-light));
    margin-top: 0.5rem;
    animate: all 1s ease-in-out;
}

.item-btn:hover {
    box-shadow: 0 0 1rem #42214740;

}

@media (max-width: 400px) {
    .food-item {
	justify-content: center;
	margin-block: 1rem;
	height: auto;
	min-width: 250px;
    }
    div.food-item-info {
	padding-block: 1.5rem;
    }
}


@media (max-width: 360px){
    .food-item {
	flex-direction: column;
	justify-content: center;
	height: auto;
	min-width: none;
	width: 50px;
	text-align: center;
	align-items: space-around;
    }
    .food-item:nth-child(even),
    .food-item:nth-child(odd) {
	.food-item-img {
	    margin: 0;
	    order: 1;
	    border-radius: 1.6rem 1.6rem 0 0;
	    width: 100%;
	}
	.food-item-info {
	    order: 2;
	    padding: 2rem 2.5rem;
	}
    }

    .food-item-img{
	border-radius: 0.7rem;
	margin: 1rem;
	width: 30%;
    }
    .food-item-info > h3 {
	margin-bottom: 0.7rem;
    }
}
